@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    height: 80px;
    border-width: 5px;
    border-color:saddlebrown;
    border-style: groove groove dashed groove;
    padding: 20px;
}
h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
nav{
    background-color: #bca265;
    padding: 1rem;
}
li {
    display: inline-block;
    padding: 0 1rem; 
}
ul {
    text-align: center;
    padding-left: 0;
}
article {
    width: 800px;
    margin: 0 auto;
}
img{
    float: right;
    width: 40%;
    height: auto;
    margin-bottom: 3rem;
}
.article-paragraph {
    float: left;
    width: 60%;
}
footer{
    background-color: black;
    clear: both;
    padding: 1rem;
}
#copyright-info {
    color: #f4f5f0;
    text-align: center;
}